

body{
	font-size: 12px;


}

header{
	font-family: Marick Script, Helvetica, serif;
	font-weight: bold;
	font-size: 4em;
	color: #5882FA;
	text-transform: uppercase;
	background-color: #000000;

}

footer{
	font-family: Helvetica, serif;
	font-weight: lighter;
	font-size: .5em;
	color: white;
	padding: 2em 2em blue; 
}

nav{

}

#slogan{
	font-family: Marick Script;
	font-size: 2em;
	color: #FE2E9A;

}