*{
	margin: 0;
}



body{
	font-size: 14px;
	background-color: #000000;

}

header{
	font-family: Marick Script, Helvetica, serif;
	font-weight: bold;
	font-size: 4em;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #5882FA;
	padding: 80px 100px;
	height: 50px;
}

footer{
	font-family: Helvetica, serif;
	font-weight: lighter;
	font-size: 1em;
	color: white;
	padding: 2em 2em blue; 
}

.clear {
	clear: both;
}

nav{
	background-color: #ffffff;
	font-size: 12px;
	clear: both;
	padding: 20px 20px #5882FA;
}

.clearfix:after {
	visibility: hidden;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}

a{
	color: #5882FA;
	display: block;
	float: left;
	padding: 2em;
}
a:hover{
	background-color: #FE2E9A;
}

#slogan{
	font-family: Marick Script;
	font-size: .25em;
	color: #000000;
}


#section{
	width: 560px;
	padding: 20px 0;
	margin: 20px 0 0 0;
	float: left;
	color: #000000;
}

h3{
	font-weight: bold;
	font-size: 14px;
}

img{
	width: 20%;
	float: left;
}

aside{
	font-size: 14px;
	width: 240px;
	padding: 60px 20px;
	margin: 0 20px 0 0;
	float: left;
	color: #000000;
	background-color: #FE2E9A;
}

.clearfix: after {
	visibility: hidden;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;

}