* {
	padding: 0;
	margin: 0;
}


body { 
	background-color: #ffffff;
	text-align: center;
	font-family: 'News Cycle', Arial, sans-serif;
	font-size: 10px;
	line-height: 0;
	margin-left: 60px;
	margin-right: 60px;
}

p {
	text-align: center;	

}

img{
	text-align: center;
	height: 400px;
	width: 100%
}

h1 {
	text-align: center;
	color: #e74c3c;
	font-family: 'News Cycle', sans-serif;
	font-size: 2.5em;
	margin: 1.5em;

}

nav {
	background-color: #0FA1A5;
}

nav a{
	color: #eeeeee;
	text-decoration: none;
	display: none;
	padding: .5em;

}

#mobilenav {
	display: block;
	font-size: 2em;
	padding: 1.5em;
}

#slogan {
	font-style: italic;
	font-weight: normal;
	margin: 1.5em;
}

footer, a {
	text-decoration: underline;
	font-weight: bold;
	color: #000000;
	text-align: center;
	margin: 2.5em;

}

